{
    email {$ACME_EMAIL}
}

{$DOMAIN_NAME} {
    encode zstd gzip
    reverse_proxy api:8080
}

https://{$LIGHTSAIL_HOST} {
    tls /certs/ip.crt /certs/ip.key
    encode zstd gzip
    reverse_proxy api:8080
}
