#!/bin/bash
set -eux

export DEBIAN_FRONTEND=noninteractive

apt-get update
apt-get upgrade -y

curl -fsSL https://get.docker.com | sh
systemctl enable --now docker

usermod -aG docker ${deploy_user}
mkdir -p ${app_directory}
mkdir -p ${app_directory}/data
chown -R ${deploy_user}:${deploy_user} ${app_directory}
